.q1{
    background-image: url(https://demos.freehtml5.co/king/images/img_bg_2.jpg);
}
.navbar-brand{
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.btn {
    background-color: orangered;
    color: white;
    font-weight: 700;
    padding: 7px 25px 7px 25px;
    font-size: 20px;
    border-radius: 15px;
}
.nav-link{
    color: white;
    font-weight: 700;
}
.navbar-nav{
    margin-right: 25px;
}
.navbar{
    padding-top: 30px;
}
.q2{
    color: white;
    font-weight: 700;
    font-size: 50px;
}
.q3{
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.form-control{
    font-size: 20px;
    font-weight: 600;

}
.q8{
    text-decoration: none;
    color: white;
    padding: 15px 23px;
    background-color: orangered;
    font-weight: 700;
    border-radius: 13px;
}
.q5{
    padding-top: 115px;
    font-weight: 700;
}
.q6{
    font-weight: 700;
    font-size: 40px;
}
.q7{
    font-weight: 700;
}
.q9{
    margin-top: 60px;
}