.q1{
    background-image: url(https://demos.freehtml5.co/king/images/img_bg_2.jpg);
}
.navbar-brand{
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.btn {
    background-color: brown;
    color: white;
    font-weight: 700;
    padding: 7px 25px 7px 25px;
    font-size: 20px;
    border-radius: 15px;
}
.nav-link{
    color: white;
    font-weight: 700;
}
.navbar-nav{
    margin-right: 25px;
}
.navbar{
    padding-top: 30px;
}